<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="AzureWebJobsDashboard" xdt:Transform="Remove" xdt:Locator="Match(key)" />
        <add key="AzureWebJobsStorage" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    </appSettings>
    <connectionStrings>
        <add name="AppConnection" connectionString="" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
        <add name="DefaultConnection" connectionString="" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
    </connectionStrings>
</configuration>
